<h1>Edit Item <%= index %>: </h1>
<form action="/items/<%= index %>/edit" method="post">
    <label for="name">Name</label>
    <input type="hidden" name="edit_item" value="put">
    <input type= "submit"></input>
</form>
