<h1>Insert a new item: </h1>
<form action="/items/new" method="post">
  <div>
    <label for="name">Name</label>
    <input name = "new_item" />
    <input type= "submit"></input>
   </div>

</form>

<a href="/items">Items</a>