<div id="about_container">
  <img id="me" src="/images/gschool_pic.jpg">
  <p>This is a personal website I host on a virtual private server running Ubuntu, Ruby, Sinatra, Passenger, and Apache.</p>

  <p>3 weeks ago, I knew nothing about HTML, CSS, Ubuntu, Ruby, Sinatra, Passenger, or Apache.</p>
  <p>Let it be known, I stole this layout from <a class="links" href="http://www.nathanaelburt.me/">Nethanael Burt.</a></p>
  <p>I am currently a student at <a class="links" href="http://gschool.it">gSchool</a>, and will be through November of this year.</p>
</div>