<div id="background_picture">
  <div id="top_header">
    <a href="/">Ian Knox</a>
  </div>
  <nav>
    <div id="nav_container">
      <ul>
        <li><a href="http://iandknox.com/blog" class="">Blog</a></li>
        <li><a href="/items" class="">List App</a></li>
        <li><a href="/resume" class="">Resume</a></li>

      </ul>
    </div>
  </nav>
</div>
<div id="about_container">
  <img id="me" src="/images/gschool_pic.jpg">
  <p>This is a personal website I host on a virtual private server running Ubuntu, Ruby, Sinatra, Passenger, and Apache.</p>

  <p>3 weeks ago, I knew nothing about HTML, CSS, Ubuntu, Ruby, Sinatra, Passenger, or Apache.</p>
  <p>Let it be known, I stole this layout from <a class="links" href="http://www.nathanaelburt.me/">Nethanael Burt.</a></p>
  <p>I am currently a student at <a class="links" href="http://gschool.it">gSchool</a>, and will be through November of this year.</p>
</div><footer>
  <ul>
    <li><a href="mailto:knoxid@gmail.com" target="_blank"><img src="/images/social-icons-27.png" alt="email icon"></a></li>
    <li><a href="http://www.twitter.com/idknox" target="_blank"><img src="/images/social-icons-22.png" alt="Twitter logo"></a></li>
    <li><a href="https://www.linkedin.com/profile/view?id=253022916"><img src="/images/social-icons-24.png" alt="LinkedIn logo"></a></li>
    <li><a href="http://www.github.com/idknox" target="_blank"><img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub logo"></a></li>
  </ul>
</footer>

